/* styles.css */
.table-header-small th {
  height: 1px; /* Adjust the height as needed */
  padding: 1px; /* Adjust the padding as needed */
  font-size: 0.875rem; /* Adjust the font size as needed */
}

.styled-table {
    border-collapse: collapse;
    overflow-x: 'auto';
    margin: 5px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width:100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color:#98e4d9;
    color: #ffffff;
    text-align: left;
}

.styled-table th {
    padding: 10px 5px;
    background-color: #98e4d9;
    text-align: center;
}
.styled-table td {
    padding: 10px 5px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid 	#98e4d9;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: 	#98e4d9;
}

.table-column-small {
    width: 5px; /* Adjust the width as needed */
  }
  
  .table-column-input {
    width: 10%; /* Adjust the width as needed */
    text-align: center;
  }

.table-column-chg {
    width: 2px !important; /* Adjust the width as needed */
}

.accordion-summary {
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #98e4d9; /* Sage green color */
    display: inline-block;
    padding: 5px; /* Add padding for better appearance */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.accordion-summary-center {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    min-height: 0; /* Adjust minimum height if needed */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#98e4d9; /* MediumSeaGreen color */
    color: #ffffff; /* Text color */
    width: 100%; /* Ensure it covers the entire header area */
 /* Add padding for better appearance */
    box-sizing: border-box; /* Include padding in the element's total width and height */
  }

  .custom-tab { /* Background color for the tabs */
    color: #ffffff; /* Text color for the tabs */
  }
  
  .custom-tab .nav-link {
    background-color: 	#7bbcb6		; /* Background color for the tabs */
    color: #ffffff; /* Text color for the tabs */
  }
  
  .custom-tab .nav-link.active {
    background-color: #387f75; /* Background color for the active tab */
    color: #ffffff; /* Text color for the active tab */
  }

  .enterprise{
    margin-left: "50px" !important;
    padding-left: '50px';
    color: #387f75;
    padding-bottom: '1px';
    margin-bottom: '1px';
  }

  .fy25-targets{
    margin-top: '-10px';
  }

  .spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 255, 0.3); /* Light blue border */
    border-top: 5px solid rgb(94, 94, 200); /* Blue border on top */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .table-column-chg {
    max-width: 1px !important;
  }


  /* styles.css */
.table-container {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px; /* Add some space between the table and the checkboxes */
 margin-left: 10px;
 margin-right: 10px;
}

.shaded-th {
  background-color: #f2f2f2; /* Light gray background */
  color: #333; /* Dark text color */ /* Padding for better spacing */
  text-align: left; /* Align text to the left */
  width: 30%;
  font-size: 12.5px;
}

.shaded-size-th {
  font-size: 12.5px;
}

.spaced-td{
  text-align: right !important;
  font-size: 12.5px !important;
  width: 20%;
}

.shaded-green-th{
  background-color: chartreuse;
  color: chartreuse;
}

.managed-sales-table-container {
  width: auto; /* 75% of the Box width */
  margin-left: -20px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  height: 350px;
}

.manaed-sales-card {
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  gap: 50px; 

}

.spaced-row {
  height: 5px; /* Adjust the height as needed */
}

.spaced-column {
width: 1px !important;
}

.sales-styled-table th,
.sales-styled-table td {
  padding: 5px; /* Decrease padding for smaller height */
  height: 5px !important; /* Set a fixed height for table cells */
  line-height: 10px !important;
  text-align: left;
vertical-align: middle;
}

.sales-metrics{
  width: 78%;
margin-left: 160px;
margin-top: -70px;
}

.sales-metrics-dropdown{
  width: 50%;
  margin-right: 500%;
}

.sales-label{
  margin-left: 15px;
  font-size: 12.5px;
}

.sales-container {
  margin-bottom: 10px;
}


.styled-fy24-table {
  border-collapse: collapse;
  overflow-x: 'auto';
  margin: 5px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width:100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-fy24-table thead tr {
  background-color:#98e4d9;
  color: #ffffff;
  text-align: left;
}

.styled-fy24-table th {
  padding: 10px 5px;
  background-color: #98e4d9;
  text-align: center;
}
.styled-fy24-table td {
  padding: 10px 5px;
  text-align: center;
}

.styled-fy24-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-fy24-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-fy24-table tbody tr:last-of-type {
  border-bottom: 2px solid 	#98e4d9;
}

.styled-fy24-table tbody tr.active-row {
  font-weight: bold;
  color: 	#98e4d9;
}

.btn {
  padding: 8px 16px;
  font-size: 11px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn:hover {
  opacity: 0.9;
}

.top-right-buttons {
  position: absolute;
  top: 20px;
  right: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 0px;
  width: 110px;
}

.card-table-container {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  gap: 20px; /* Add space between the card and the table container */
}

.new-card {
  flex-shrink: 0; /* Prevent the card from shrinking */
  width: 40%; /* Set the width of the card */
  margin-left: -270px;
  position: relative;
  margin-top: 20px;
  height: 150px;
}

.new-ms-card {
  flex-shrink: 0; /* Prevent the card from shrinking */
  width: 230px; /* Set the width of the card */
  position: relative;
  margin-top: 0px;
  height: 150px;
  margin-left: -250px;
margin-bottom: 30px;
}

.table-container {
  display: flex;
  flex-direction: column; /* Stack tables vertically */
  flex-grow: 1; /* Allow the table container to take up the remaining space */
}

.table-container table {
  margin-top: 20px; /* Add space between the tables */
}

.bg-blue {
  background-color: lightblue !important; /* Light blue */
}

.bg-pink {
  background-color: #f8d7da !important; /* Light pink */
}

.bg-green {
  background-color: lightgreen !important; /* Light green */
}

.bg-yellow {
  background-color: #fff3cd !important; /* Light yellow */
}

.bg-red {
  background-color: red !important; /* Light red */
}

.bg-purple {
  background-color: #e2d4f8 !important; /* Light purple */
}

.bg-orange {
  background-color: #ffe5b4 !important; /* Light orange */
}

  